.container {
  display: flex;
  flex-direction: row;
}

.cabecalho {
  width: 100%;
  height: 80px;
}

h1 {
  padding-left: 100px;
  color: #5C3B6B;
}

.fundoRoxo{
  background: #9D89A6;
  color: white !important;
  
}
.labelInput{
  color: #3B3349 !important;
}
  .ant-collapse-header{
    color: white !important;
  }

.nome {
  margin-left: 10px;
}

.logoEmpresa {
  width: 120;
  height: 60px;
  margin: 10px;
  /* border-radius: 4px; */
}

.extrato {
  padding-right: 40px;
  min-width: 50%;
}

.extrato div {
  border-bottom: dashed 1px black;
}

.pontilhado {
  border: solid 0,2px black;
  border-left: solid 5px #5C3B6B;
  border-radius: 5px;
}
.conteudo {
  margin: 15px;
}

.data {
  float: right;
  text-align: right;
}
body {
  background: black;
}

.label {
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0 0 5px;
}
