.desabilitado {
  box-shadow: 0 0 0 0 !important;
  border: 0 none !important;
  outline: 0 !important;
  font: normal normal normal 14px "Lato", sans-serif !important;
  letter-spacing: 0.2px !important;
  color: #979797 !important;
  padding: 2px !important;
}

.divInput {
  width: 80%;
  float: left;
}

.hoverAzul:hover {
  color: #2c3faa !important;
}

.hoverAzul {
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font: normal normal normal 15px "Lato", sans-serif;
}

.hoverAzul > :first-child {
  margin-right: 10px;
}

.hoverAzul > :nth-child(2) {
  margin-right: 5px;
}

.hidden {
  display: none;
}

.iconeVerde {
  margin-top: 6px;
  padding-left: 15px;
  width: 40px;
}
.iconeCinza {
  margin-top: 6px;
  width: 26px;
}

